<!DOCTYPE html>
<html>
<head>
	<title>CaptionBot for Assistive Vision</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style type="text/css">
    .card{
            margin : 10px 20px 10px 20px;
          }
    .form_custom{
     height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    }
  </style>


</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light space-between">
  <a class="navbar-brand" href="#">CaptionBot for Assistive Vision</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    
    
    <ul class="navbar-nav ml-auto ">
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Project Models
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/Model1">Traffic light Prediction</a>
          <a class="dropdown-item" href="/Model2">Bus rush or not</a>
          <a class="dropdown-item" href="/Model3">Person in-front or not</a>
          <a class="dropdown-item" href="/Model4">Dog in-front or not</a>
          
          
        </div>
      </li>
      
    </ul>
  </div>
</nav>


<div class="form_custom">

  <div class="card">
  <h5 class="card-header">Audio File</h5>
  <div class="card-body">
    <audio controls='controls' autoplay="autoplay">
      <source src="static/music/5.wav">
    </audio>
    
  </div>
  </div>
  
  
</div>
<br>
<div class="form_custom">
  <h4>Accuracy - 93.8%  </h4>
</div>
<div class="form_custom">
  <a href="/" class="btn btn-primary">Home</a>
</div>
